<div>
    <h1> Check Out These Blogs! </h1>

    <div class="blog-list">
        <% @blogs.each do |blog| %>
            <p class="blogs"><%= link_to blog.title, blog_path(blog.id) %></p>
        <% end %>
</div>
</br>
</br>
<p> <%= link_to 'Add a New Blog', new_blog_path %></p>
</div>